body {
  background-color: lavender;
  height: 100%;
}

#title {
  display: flex;
  justify-content: center;
}

#chatbox {
  border: 1px black solid;
  background-color: white;
  border-radius: 5px;
  height: 700px;
  width: 700px;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: anywhere;
}

.messageDiv {
  margin: 1em;
  padding: 0.5em;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: rgba(135, 206, 250, 0.602);
}

#textEntry {
  margin: auto;
  box-sizing: border-box;
}

#commentBox {
  width: 700px;
  height: 500px;
  padding: 1em;
  margin: 0 auto;
}

img {
  margin: auto;
}

#login {
  background-color: rgb(241, 241, 250);
  padding: 3em;
  border: 2px outset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 30% auto;
}

#login > * {
  margin: 0.3em;
}

#logoutButton {
  display: flex;
  justify-content: center;
}
